<%= form_for :main do |sample| %>
  <p>
    <%= sample.label :twitter_Size %><br>
    <%= sample.text_field :twitter_Size %>
  </p>
    <%= sample.label :stack_Overflow_Size %><br>
    <%= sample.text_field :stack_Overflow_Size %>
  <p>
  
  <p>
    <%= sample.submit("Search") %>
  </p>
<% end %>
